node_modules/
/datas/img/*
/datas/audio/*
/datas/video/*
!/datas/img/.empty
!/datas/audio/.empty
!/datas/video/.empty
!/views/dist/audio/empty.png
!/views/dist/video/empty.png
!/views/dist/img/empty.png

/views/src/audio/*
/views/src/video/*
/views/src/img/*
logs/*
.idea/*
!logs/.empty

views/dist/js/data.js